# Игнорировать папку сборки и сгенерированные файлы
target/
out/

# Игнорировать файлы IDE (для Eclipse)
.metadata/
bin/

# Игнорировать файлы IDE (для IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr

# Игнорировать файлы сборки Maven
*.jar
*.war
*.ear

# Игнорировать файлы с локальными настройками Gradle
.gradle/
build/

# Игнорировать временные и резервные файлы
*.tmp
*.bak
*.swp
*.log